<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登录</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/reg.css">
</head>
<body>
  <div class="concain">
    <h2>登录</h2>
    <hr>
    <form action="/login" method="post">
      <div class="form-group">
        <label for="username">用户名：</label>
        <input name="username" type="text" class="row">
      </div>
      <div class="form-group">
        <label for="password">密码：</label>
        <input name="password" type="password" class="row">
      </div>
      <button class="btnReg">登录</button>
    </form>
    <div class="reg">
      <a href="/reg">没有账号，注册一个吧~</a>
    </div>
  </div>
</body>
</html>