<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
  <style>
    .not {
      width: 1510px;
      height: 710px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  </style>
</head>
<body>
  <div class="not">
    <img src="/images/腾讯公益404.png" alt="">
  </div>
</body>
</html>