<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    a {
      text-decoration: none;
      color: #ac70e0;
    }
    h2 {
      background-color: #be7373;
    }
    .success {
      width: 700px;
      margin: auto;
    }
  </style>
</head>
<body>
  <div class="success">
    <div class="content">
      <h2><%= msg %></h2>
      <a href="<%= url %>">点击跳转</a>
    </div>
  </div>
</body>
</html>